:root {
    --primary-color: rgb(34, 33, 33);
    --primary-color-light: rgb(34, 30, 30);
    --primary-color-dark: rgb(10, 4, 4);
    --menu-z-index: 100;
    --navbar-z-index: 50;
    --home-z-index: -10;
    --brand-color: rgb(9, 111, 136);
    --brand-color-2: rgb(0, 183, 255);
    
}

/* Tags */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    background-color: white;
    color: black;
    overflow-x: hidden;
    min-height: 100vh;
}
html { scroll-behavior: smooth; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i {
    cursor: pointer;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}
/* End Tags */


/* Utils Classes */
.container {
    width: 1000px;
    margin: auto;
}
.wrench {
    animation: brandColorChange 5s infinite;
}
.brand-highlight {
    color: var(--brand-color-2);
}
.text-highlight {
    color: var(--brand-color);
}
/* End Utils Classes */


/* Jump To Top */
.jump-to-top {
    position: fixed;
    top: 80%;
    right: 2%;
    background-color: var(--brand-color-2);
    padding: 5px;
    border-radius: 30px;
    z-index: 100;
    opacity: 0.8;
    
}
.jump-to-top:hover {
    opacity: 1;
}
/* End Jump To Top */


/* Draggable Div */
#mydiv {
    display: none;
    position: fixed;
    top: 30%;
    right: 40%;
    z-index: 2;
    /* background-color: #2196F3; */
    background-color: var(--brand-color);
    text-align: center;
    border-radius: 10px;
    height: 35px;
    width: 35px;

    padding: 6px;
  }
  
  #mydivheader {
    cursor: move;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 10px;

    height: 100%;
    width: 100%;
  }
/* End Draggable Div */


/* Footer */
.footer {
    background-color: var(--brand-color);
    min-height: 100px;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer .container {
    text-align: center;
}


.footer .copyright {
    font-size: 16px;
}


.footer .footer-links-ul {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.footer .footer-links-ul p {
    margin-left: 20px;
}
.footer .footer-links-ul a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 183, 255);
}
.footer .footer-links-ul a:hover {
    color: white;
}


.footer .footer-social-links {
    font-size: 13px;
}
.footer .footer-social-links a {
    margin-right: 10px;
}
.footer .footer-social-links i:hover {
    color: var(--brand-color-2);
}
.footer .footer-social-links {
    margin-bottom: 20px;
}
/* End Footer */


/* Mobile Responsiveness */
@media only screen and (max-width: 650px) {
    /* footer */
    .footer {
        width: 100vw;
        overflow-x: hidden;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
    }
    .footer .footer-links-ul {
        display: grid;
        grid-template-columns: 1fr;
        margin-right: 20px;
    }
    
    .footer .footer-links-ul p {
        margin-bottom: 20px;
        
    }
    .footer .footer-links-ul a {
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }
    .footer .copyright-container {
        width: 70vw;
        margin: auto;
        line-height: 1.8;
    }
    /* End Footer */


    /* Draggable Menu */
    #mydiv {
        display: none;
    }
    /* End Draggale Menu */


    /* Jump To Top */
    .jump-to-top { 
        position: fixed;
        top: 89%;
        right: 0;
        background-color: var(--brand-color-2);
        padding: 5px;
        border-radius: 8px;
        z-index: 100;
        opacity: 0.8;
    }
    /* End Jump To Top */
}
/* End Mobile Responsiveness */